.hueguessr-wrapper {
    .description {
        max-width: 700px;
    }

    .game {
        max-width: 1000px;

        .color-box {
            aspect-ratio: 1;
        }

        .hint {
            max-width: 13rem;
        }

        .input {
            width: 50%;
            max-width: 13rem;

            .submit-guess {
                .restart-button {
                    color: white;
                    background-color: #222222;
                }

                form {
                    input {
                        width: 60%;
                        background: #222222;
                    }

                    button {
                        width: 37%;
                        background: #222222;
                    }
                }
            }
        }

    }
}