h1 {
  border-bottom: var(--accent-color);
}

.sublinks {
  display: flex;
  flex-direction: column;
}

.sublinks a {
  width: fit-content;
}

.socials {
  display: flex;
}

.socials a {
  padding: 0 5px;
}