nav * {
    margin: 0;
}

nav>* {
    margin: 0 20px 0 20px;
}

nav {
    background-color: var(--background-color);
    border-bottom: var(--primary-color) 1px solid;
}

.padding-background-effect {
    padding: 5px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.1s;
}

//* for each item in navbar
@media (max-width:914px) { // games
    .nav-links :nth-child(5) {
        display: none;
    }
}

@media (max-width:800px) { // andyscript
    .nav-links :nth-child(4) {
        display: none;
    }
}

@media (max-width:641px) { // andybot
    .nav-links :nth-child(3) {
        display: none;
    }
}

@media (max-width:509px) { // about me
    .nav-links :nth-child(2) {
        display: none;
    }
}

@media (max-width:367px) { // home
    .nav-links :nth-child(1) {
        display: none;
    }
}