@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #1b1b1b;
  --darker-background-color: #161616;
  --lighter-background-color: #222;
  --primary-color: #00b7ff;
  --secondary-color: #f17b0b;
  --accent-color: #85ee14;
}

html>* {
  /*every first children of the HTML element (e.g. body) */
  margin: 0;
}

:root {
  font-family: monospace;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
}

body {
  height: 100vh;
}

.primary-color {
  color: var(--primary-color);
}

.accent-color {
  color: var(--accent-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.light-background {
  background-color: var(--lighter-background-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.color-gradient {
  background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-gradient:hover {
  background: linear-gradient(90deg, var(--accent-color), var(--primary-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}