:root {
  --background-color: #111111;
  --primary-color: #0db5f8;
  --secondary-color: #da8910;
  --accent-color: #88ec1c;
}

html>* {
  /*every first children of the HTML element (body, */
  margin: 0;
}

:root {
  font-family: monospace;
  font-size: larger;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
}

.margin-left {
  margin-left: 30px;
}

.accent-color {
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.color-gradient {
  background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}